body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.products-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.checked {
  color: gold;
}

#unchecked {
  color: gray;
}

.products-container {
  width: 95vw;
  height: 95vh;
}

#card {
  border-radius: 15px;
}

#prod-img {
  border-radius: 15px;
}

.add-to-cart {
  border-radius: 15px;
}

.add-to-cart:hover {
  background-color: darkgrey;
  color: white;
}

#page-numbers {
  display: flex;
  justify-content: center;
}

.pages {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.numbers {
  padding: 5px;
}

.number {
  cursor: pointer;
}
.product-button-invisable {
  cursor: not-allowed;
  display: none;
}

.product-button-visable {
  background-color: aqua;
  border-radius: 15px;
}
.cart-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.cart-label {
  text-align: center;
  margin-bottom: 10px;
}
.users-div {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}
.all-orders-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.admin-form {
  margin: 0 auto;
  text-align: center;
  width: 550px;
}
input[type='text'] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.admin-label {
  font-size: 25px;
}
.add-product-h1 {
  text-align: center;
  margin-bottom: 25px;
}

button[type='submit'] {
  width: 100%;
  background-color: lightgreen;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.order-item-div {
  background-color: tan;
  margin: 20px;
  padding: 15px;
}
.edit-product-div {
  display: flex;
  flex-direction: row;
}
/* .edit-product-img {
  text-align: center;
} */
